.forget-page {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-family: "Segoe UI", sans-serif;
}

.forget-password-page {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background-color: #1e293b;
	border-radius: 20px;
	padding: 32px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.forget-password-page form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
}

.forget-password-page label {
	align-self: flex-start;
	color: #c5daff;
	margin: 5px;
}

.forget-password-page input {
	width: 100%;
	padding: 14px;
	border: 1px solid #475569;
	border-radius: 12px;
	background: #0f172a;
	color: #ffffff;
	font-size: 15px;
	transition: all 0.3s ease;
}

.forget-password-page .forget-submit-btn {
	width: 50%;
	background: linear-gradient(135deg,
			#2563eb,
			#3b82f6);
}

.forget-password-page .forget-submit-btn:hover {
	background: linear-gradient(135deg,
			#1d4ed8,
			#2563eb);
			transform: translateY(-1px);
}

.forget-password-page .forget-submit-btn:active {
  transform: translateY(0);
}